<%
  menu = {
           home: "Домашняя",
           words: "Слова",
           video: "Видео",
           articles: "Статьи",
           song_translation: "Перевод песен",
           alphabet: "Алфавит"
         }
%>

<header>
  <div class="container">
    <div class="header">
      <%= link_to "PopLangLetter", "/", class: "logo" %>
    </div>
  </div>
</header>

<nav>
  <div class="container">
    <ul class="header_navigation">
      <% menu.each do |key, value| %>
        <li>
          <%= link_to value, "/", class: key %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<div class="header_bottom">
  <div class="container">
    <div class="auth">
      <div class="auth_block">
        <% if user_signed_in? %>
          <% if current_user.email == "zlo-nic@mail.ru" %>
            <%= link_to 'Админка', "/" %>
          <% end %>
          <%= link_to 'Мой профиль', "/" %>
          <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to 'Войти', new_user_session_path %>
          <%= link_to 'Зарегистрироваться', new_user_registration_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
